<?xml version="1.0"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   ZaloPay
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="zalopay_wallet_config_provider" xsi:type="object">Boolfly\ZaloPay\Model\ZaloPayConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Boolfly\ZaloPay\Controller\Payment\Start">
        <arguments>
            <argument name="commandPool" xsi:type="object">ZaloPayCommandPool</argument>
        </arguments>
    </type>
    <type name="Boolfly\ZaloPay\Controller\Payment\ReturnAction">
        <arguments>
            <argument name="commandPool" xsi:type="object">ZaloPayCommandPool</argument>
            <argument name="method" xsi:type="object">ZaloPayFacade</argument>
        </arguments>
    </type>
    <type name="Boolfly\ZaloPay\Controller\Payment\Ipn">
        <arguments>
            <argument name="commandPool" xsi:type="object">ZaloPayCommandPool</argument>
            <argument name="method" xsi:type="object">ZaloPayFacade</argument>
        </arguments>
    </type>
</config>